#if true then lombook knows this is root directory and it will not looking for other configs in higher dirs
config.stopBubbling = true
lombok.anyconstructor.addconstructorproperties = false
lombok.addLombokGeneratedAnnotation = true
lombok.experimental.flagUsage = WARNING
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = true